# Ignore .env file (environment variables)
.env

/backend/images/*

# Python virtual environment
backend/venv/


#folder for documentation and screenshots
documentation/

# Node.js dependencies
# frontend/node_modules/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore IDE/editor config files (optional)
.vscode/
.idea/
.DS_Store

# Node modules and lock files
node_modules/
package-lock.json
yarn.lock

# Python cache files
__pycache__/

# Image files
*.jpg

.pyc

# Docker-specific files
docker-compose.yml
**/Dockerfile
**/.dockerignore

# Ignore nginx.conf
frontend/nginx.conf

# Ignore __init__.py files in specific directories
backend/models/__init__.py
backend/routes/__init__.py

# (Optional) Ignore all __init__.py files globally if necessary
**/__init__.py


