.home {
  text-align: center;
}

.welcome-section, .featured-services, .cta-section {
  padding: 50px 20px;
}

.featured-services .services-grid {
  display: flex;
  justify-content: space-around;
}

.service-item {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}



/*
###########################################################
ADMIN SIDEBAR
*/
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #ddd;
}



@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .dashboard-content {
    margin-left: 0;
  }
}


/*
################################################
ADMIN DASHBOAARD
*/
.admin-dashboard {
  display: flex;
}

.content {
  margin-left: 220px; /* Leave space for the sidebar */
  padding: 20px;
}

.admin-actions {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.card h3 {
  margin-top: 0;
}

.card p {
  font-size: 14px;
}

.card a {
  text-decoration: none;
  color: #007bff;
  display: inline-block;
  margin-top: 10px;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
